/* BMI */

#main{
    display:none;
}

.bmi .btn{
    margin-left: 2%;
    color: #457b9d;
    border-color: #457b9d!important;
}
.btn:hover,.btn:active{
background-color: #457b9d!important;
outline-color: #457b9d!important;
color: #011627;
}

/* .here{
    display: flex;
    flex-wrap: wrap;
    margin-top: inherit;  
    justify-content: space-evenly;
} */

input{
    width: 20%!important;
}

/* .here span{
    margin-top: 0.3%;
    margin-left: auto;
    margin-right: 1%;
} */

/* .here div{
    width: -webkit-fill-available;
    display: contents;
} */
#calculate{
    height: fit-content;
    margin-top: 4.7%;
}

#ideal{
    color: green;
}

.bmi{
    justify-content: center;
    margin: 3%;
    color: white;
}

.bmi h2{
    margin-top: 7%;
}

.bmi span{
    margin-left: 3%;
}

.resultat{
    text-align: center;
    color: white;
    font-size: 50px;
    display: none;
}

#bmii{
    color: #FF9F1C;
}

#health{
    color: #FF9F1C;
}

/* calories */

#main1{
    display: none;
}

.titre1{
    justify-content: center;
    margin: 3%;
    color: white;
}

.titre1 h2{
    margin-top: 7%;
}

.in1 span{
    color: white;
}

.in1 div{
    width: 25%;
    margin: 3%;
}
.in1 input{
    width: -webkit-fill-available!important;
}

.in1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn1{
    color: #457b9d;
    border-color: #457b9d!important;
}
.btn1:hover,.btn1:active{
background-color: #457b9d!important;
outline-color: #457b9d!important;
color: #011627;
}

#calculate1{
    margin-top: 6%;
}

.resultat1{
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    margin: 5%;
    margin-bottom: 8%;
}

#calories1,#gl1{
    color: #5ca5d3;
}

.resultat1{
    display: none;
}

.spinner-grow{
    margin-left: 50%;
}

.ktiba{
    display: none;
}

/* customiser */

#main2{
    
    display: none;
    color: white;
}

#main2 h2{
    margin-left: 3%;
    margin-top: 7%;
    margin-bottom: 5%;
    color: white;
}

#main2 form{
    display: flex;
    margin: 5%;
    margin-left: 0;
}

#main2 span{
    font-size: 17px;
    margin-left: 5%;
}

#main2 .btn{
    height: 40px;
}

.bodyc{
    margin-left: 3%;
    display: flex !important;
}

.navbarc{
    margin-left: 3%;
    display: flex !important;
}
.footerc{
    margin-left: 3%;
    display: flex !important;
}
#main2 input{
    width: 120px!important;
}

#reset{
    margin-left: 40%;
    width: 25%;
}

/* home */

.main0{
    text-align: center;
    margin-top: 5%;
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.main0 h2{
    font-weight: 600;
    font-size: 60px;
}

.main0 span{
    font-weight: 400;
    font-size: 30px;
}

.quotes{
    font-family: 'Quicksand', sans-serif;
    background-color: #457b9d;
    padding: 5% 3% 5% 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #011627;
}

.inside-quotes{
    display: flex;
    justify-content: center;
}

.inside-quotes div{
    width: 20%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.vl{
    margin-right: 2%;
    margin-left: 2%;
    border-left: solid;
}

.quotes h3{
    margin-bottom: 2%;
}

.main00{
    background-color: #457b9d;
    text-align: center;
    margin-top: 5%;
    font-family: 'Quicksand', sans-serif;
    color:  #011627;
    padding: 4%;
}

.main00 h2{
    font-weight: 600;
    font-size: 60px;
}

.main00 span{
    font-weight: 400;
    font-size: 30px;
}

.features{
    padding-top: 2%;
    margin: 2%;
}

.inside-features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
}

.inside-features div{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inside-features div button{
    margin-top: 5%;
}

.log{
    background-color: #457b9d;
    margin-left: 0!important;
}

.carousel{
    background-color: #457b9d;
}



/* food */

.food-search{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

#food{
    display: none;
    flex-direction: column;
    text-align: center;
}

.car{
    display: none;
    margin-top: 3%;
    align-items: center;
}

.car div button{
    margin-left: 20px;
}

#ENERC_KCAL{
    color: #457b9d;
    font-size: 50px;
    font-weight: 600;
}

.car div span{
    font-size: 40px;
    font-weight: 400;
}


#spinner-food{
    margin-top: 3%;
    display: none;
}

.food-quant{
    display: flex;
    justify-content: center;
    
}

.meal{
    display: flex;
    justify-content: right;
    margin: 5%;
    margin-top: 0!important;
    margin-bottom: 0;
}

.ingredients{
    display: grid;
    margin-top: 5%;
    width: 300px;
}

#tot{
    background-color: #457b9d;
    padding: 2%;
    font-size: 50px;
}

.meal div{
    display: flex;
    flex-direction: column;
    width: 300px;
}

#meal-remove{
    margin-top: 30px;
}

#meal1-remove{
    width: inherit!important;
    margin: 5%;
    margin-left: 0!important;
}

#mymeal{
    display: contents;
    margin:5%;
    margin-bottom: 0!important;
}

#mealq{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 5%;
}

.kimanavbar{
    color: #457b9d;
}

.akal{
    font-weight: 600;
    font-size: 95px;
    margin-bottom: -20px;
}

.akber{
    font-weight: 600;
    width: 500px;
    font-size: 120px;
}

.sghira{
    width: 500px;
}

#tot{
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 1100px) {
    #mealq div{
        margin-right: 0!important;
    }
  }